# https://github.com/grpc-kit/pkg/blob/main/cfg/app-sample.yaml

# 基础服务配置
services:
  # 服务注册的前缀，全局统一
  root_path: service
  # 服务注册的空间，全局统一
  namespace: example
  # 服务的代码，名称唯一且必填，格式：应用短名.接口版本.产品代码
  service_code: {{ .Global.ShortName }}.{{ .Template.Service.APIVersion }}.{{ .Global.ProductCode }}
  # 接口网关的地址
  api_endpoint: {{ .Global.APIEndpoint }}
  # 服务所监听的grpc地址（如未设置，自动监听在127.0.0.1的随机端口）
  grpc_address: 0.0.0.0:10081
  # 服务所监听的http地址（如未设置，则不开启gateway服务）
  http_address: 0.0.0.0:8080

# 服务注册配置
#discover:
#  driver: etcdv3
#  heartbeat: 15
#  endpoints:
#    - http://127.0.0.1:2379

# 认证鉴权配置
security:
  enable: true
  authentication:
    insecure_rpcs:
      - Check
      - Watch
      - HealthCheck
    http_users:
      - username: user1
        password: grpc-kit-cli

# 日志调试配置
debugger:
  enable_pprof: true
  log_level: debug
  log_format: text

# 可观测性配置
#observables:
#  enable: true
#  exporters:
#    otlp:
#      endpoint: http://127.0.0.1:4317

# 应用私有配置
independent:
  name: grpc-kit
