# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# Config file and certificate
config/*.pem
config/*.crt
config/*.key
config/app-dev-*
config/app-test-*
config/app-prod-*

# Frontend web ui
web/admin/node_modules
web/webroot/node_modules
public/openapi/microservice.swagger.json

# Others
.swp
.bak
.idea/
build/
backup/
